.animated {
  animation-duration: .8s;
  animation-fill-mode: both
}
@mixin animated{
  animation-duration: .8s;
  animation-fill-mode: both
}
@keyframes bounceInDown {
  0%,60%,75%,90%,to {
    animation-timing-function: cubic-bezier(.215,.61,.355,1)
  }

  0% {
    opacity: 0;
    transform: translate3d(0,-3000px,0)
  }

  60% {
    opacity: 1;
    transform: translate3d(0,25px,0)
  }

  75% {
    transform: translate3d(0,-10px,0)
  }

  90% {
    transform: translate3d(0,5px,0)
  }
  to {
    transform: none
  }
}
@keyframes bounceOutUp {
  20% {
    transform: translate3d(0,-10px,0)
  }

  40%,45% {
    opacity: 1;
    transform: translate3d(0,20px,0)
  }

  to {
    opacity: 0;
    transform: translate3d(0,-2000px,0)
  }
}

.vlyy-bounceInDown-leave-active {
  @include animated;
  animation-name: bounceOutUp
}
.vlyy-bounceInDown-enter-active {
  @include animated;
  animation-name: bounceInDown
}
.vlyy-fade-enter-active,.vlyy-fade-leave-active {
  opacity: 1;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear
}

.vlyy-fade-enter,.vlyy-fade-leave-to {
  opacity: 0
}

.vlyy-dialog-enter-active {
  -webkit-animation: vlyy-dialog-in .5s;
  animation: vlyy-dialog-in .5s
}

.vlyy-dialog-leave-active {
  -webkit-animation: vlyy-dialog-out .3s;
  animation: vlyy-dialog-out .3s
}

@keyframes vlyy-dialog-in {
  0% {
    -webkit-transform: scale(1.185);
    transform: scale(1.185);
    opacity: 0
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}

@keyframes vlyy-dialog-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }

  to {
    -webkit-transform: scale(.85);
    transform: scale(.85);
    opacity: 0
  }
}
.vlyy-mask-enter,.vlyy-mask-leave-active {
  opacity: 0
}
.vlyy-mask-enter-active,.vlyy-mask-leave-active {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
